@font-face {
  font-family: "iconfont"; /* Project id 3561987 */
  src: url('iconfont.woff2?t=1680486823917') format('woff2'),
       url('iconfont.woff?t=1680486823917') format('woff'),
       url('iconfont.ttf?t=1680486823917') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: "\e67f";
}

.icon-chenggong:before {
  content: "\e630";
}

.icon-qudaojieru:before {
  content: "\e670";
}

.icon-gengduo:before {
  content: "\e6a7";
}

.icon-quanxuan:before {
  content: "\e614";
}

.icon-gantan:before {
  content: "\e613";
}

.icon-manglu:before {
  content: "\e610";
}

.icon-kongxian:before {
  content: "\e612";
}

.icon-xiangshangjiantou:before {
  content: "\e60f";
}

.icon-zhijian:before {
  content: "\e60e";
}

.icon-tongxunlu:before {
  content: "\e60d";
}

.icon-xiangxiajiantou:before {
  content: "\e603";
}

.icon-xiangyoujiantou:before {
  content: "\e604";
}

.icon-jieshufuwu:before {
  content: "\e605";
}

.icon-wenjian:before {
  content: "\e606";
}

.icon-shuju:before {
  content: "\e607";
}

.icon-tiaozhengshunxu:before {
  content: "\e609";
}

.icon-shezhi:before {
  content: "\e60a";
}

.icon-tupian1:before {
  content: "\e60b";
}

.icon-zhuanjie1:before {
  content: "\e60c";
}

.icon-tupian:before {
  content: "\e602";
}

.icon-tongxunluguanli:before {
  content: "\e701";
}

.icon-cha:before {
  content: "\e628";
}

.icon-single_arrow:before {
  content: "\e624";
}

.icon-rili:before {
  content: "\e6c6";
}

.icon-shebei:before {
  content: "\e611";
}

.icon-sousuo1:before {
  content: "\e66d";
}

.icon-bukejian:before {
  content: "\e608";
}

.icon-gantanhao:before {
  content: "\e66e";
}

.icon-zhuanjie:before {
  content: "\e66a";
}

.icon-duihua1:before {
  content: "\e710";
}

.icon-talk-line:before {
  content: "\e662";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e667";
}

.icon-tuanduichengyuan:before {
  content: "\e66b";
}

.icon-expressions:before {
  content: "\e61f";
}

.icon-kuaijierukou:before {
  content: "\e625";
}

.icon-shaixuan:before {
  content: "\e685";
}

.icon-xinzeng:before {
  content: "\e622";
}

